.App {
  display: flex;
  justify-content:center;
  font-family:Roboto, 'Helvetica Neue', Helvetica, Arial;
  font-weight: 300;
  font-size: 20px;
}  

.calculator {
  background-color: black;
  border: 10px solid #000000;
  border-radius: 10px;

}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.display {
  grid-column: span 4;
  background-color: black;
  color: white;
  display:flex;
  justify-self: right;
  padding: 5px 0;
  column-rule-width: inherit;
}

.history {
  display: none;
}

button {
  border-radius: 50px;
  border: none;
  font-family:Roboto, 'Helvetica Neue', Helvetica, Arial;
  font-weight: 350;
  font-size: 10px;
  cursor: pointer;
  height: 25px;
}

.operand {
  background-color: orange;
  color: white;
  font-weight: 500;
}

.topBar {
  background-color: lightgray;
  color: black
}

.number {
  background-color: rgb(41, 39, 39);
  color: white
}

.zeroNumber {
  grid-column: span 2;
  border-radius: 10px;
  background-color: rgb(41, 39, 39);
  color: white
}